.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color: #11111D;
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  padding: 0px 48px;
  margin: 0px auto;
  width: 100%;
}

.header-container {
  padding: 0px 24px;
  margin: 0px auto;
  width: 100%;
  max-width: 1400px;

}

@media (min-width: 1600px) {
  .container {
    max-width: 1400px;
  }

  .header-container {
    max-width: 1480px;
  }
}

@media (max-width: 1128px) {
  .container {
    max-width: 900px;
    padding: 0px 20px;
  }

  .header-container {
    padding: 0px 16px;
  }
}

@media (max-width: 750px) {
  .container {
    max-width: 718px;
    padding: 0px 16px;
  }

  .header-container {
    padding: 0px 16px;
  }
}

.wrapper {
  background: url(../images/circle-bg.png) no-repeat center;
  background-position: top left;
  background-attachment: fixed;
  width: 100%;
  height: auto;

}

.hideOverflowY {
  overflow-y: hidden;
}

.header {
  padding: 60px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99;
}

.header .logo {
  /* float: left; */
}

.header ul.menuItems {
  float: right;
  display: flex;
  align-items: center;
}

.header li {
  float: left;
  margin-left: 70px;
  list-style: none;
}

.header li:first-child {
  margin-left: 0;
}

.header li a {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-transform: capitalize;
  color: #FFFFFF;
  display: block;
}

/* .card1 {
  z-index: 99;
}

.card2 {
  z-index: 99;
}

.card3 {
  z-index: 99;
} */

a:hover {
  text-decoration: none;
}

.header li i {
  display: block;
  visibility: hidden;
  /* border: 1px solid #FECD08; */
  width: 14.5px;
  height: 3px;
  background-color: #FECD08;
  margin: 8px auto 0;

}

.header li.active a {
  color: #FECD08;
  text-decoration: none;
}

.header li a:hover~i,
.header li.active i {
  /* display: block */
  visibility: visible;
}

.header li a:hover {
  color: #FECD08;
}

.header li.loginBtn a {
  background-color: #EC5723;
  border-radius: 21px;
  text-transform: uppercase;
  padding: 8px 32px;
  text-decoration: none;
}

.bannerWrap {
  /* padding: 100px 0 50px 0; */
  position: relative;
  /* width: 1400px; */
  margin: 50px auto 200px;
  /* overflow-x: hidden; */
}

.top-fold-wrapper {
  display: flex;
  align-items: center;
}

.bannerContnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 690px;
  width: 40%;
  position: relative;
  transition: 3s all;
}

.absolute {
  position: absolute;
}

.transation {
  transition: 0.4s all;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.img-wrapper-animate-top {
  top: 0;
  right: 0;
  width: 42%;
  height: 682px;
  /* width: 500px; */
  /* background-color: red; */
}

.img-wrapper-animate-bottom {
  top: 690px;
  right: 100%;
  width: 60%;
  /* min-width: 650px; */
  transform: translateX(100%);
  height: 682px;
  /* background-color: red; */
}


.phone-img {
  position: absolute;
  right: 50%;
  transform: rotate(3deg) translateX(50%);
  z-index: 1;
  max-width: 337px;
  max-height: 675px;
  /* transition-property: all;
  transition-duration: 5s; */
}

.img-wrapper-animate-bottom>.phone-imgb {
  right: 0;
  transform: rotate(0deg) translateX(0);
}

.cards {
  position: absolute;
  width: 262px;
}

.card1 {
  top: 73px;
  left: -100px;
  z-index: 2;
}

.card2 {
  top: 260px;
  left: 100%;
  z-index: 3;
  transform: translateX(-83%);
}

.card3 {
  top: 470px;
  left: -100px;
  z-index: 4;
}

.img-wrapper-animate-bottom>.card1b {
  top: 47%;
  left: -17px;
  z-index: 2;
  transform: translateY(-50%);
  cursor: pointer;
  width: 278px;
}

.img-wrapper-animate-bottom>.card2b {
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
  transform: translateX(0);
}

.img-wrapper-animate-bottom>.card3b {
  top: 96%;
  left: 6px;
  z-index: 4;
  transform: translateY(-100%);
  cursor: pointer;
}

.img-wrapper-animate-bottom>.tab-card-active {
  /* transform: scale(1.05); */
  /* border-bottom: 4px solid #EC5723; */
  -webkit-filter: drop-shadow(0 0 15px #ffffff);
  filter: drop-shadow(0 0 15px #ffffff);
  width: 272px;
}

.img-wrapper-animate-bottom>.tab-card-active.w-fix {
  width: 288px;
}

#v-pills-tabContent {
  /* float: left;
  width: 70%;
  left: 25%; */
}

.tab-slide {
  display: flex;
  justify-content: end;
  height: 690px;
}

.tab-slide>div {
  /* float: left; */
  max-width: 35%;
}

.tab-slide>.content {
  padding: 130px 0 0 30px;
  /* height: 690px; */
  width: 446px;
}

.tab-slide>div>img {
  width: 100%;
  /* display: block; */
}

.tab-slide .content h4 {
  color: #A1A1A1;
  font-size: 19px;
  margin-bottom: 30px;
}

.tab-slide .content h2 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 67px;
}

.tab-slide .content p {
  color: #A1A1A1;
  font-size: 24px;
  margin-bottom: 65px;
}

.tab-slide .content p i {
  color: #EC5723;
  font-style: normal;
}

.tab-slide .content a {
  color: #F2F5FF;
  background-color: #EC5723;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 40px;
  text-transform: uppercase;
  border-radius: 25px;
}







.hhh {
  padding: 0px 0 0px 0px;
  position: relative;
  display: flex;
  align-items: center;
}

.featureImages {
  display: flex;
  float: left;
  min-width: 690px;
}

.bbb {
  position: relative;
}

.ttt {
  padding: 0px 0 0px 0px;
  position: relative;

}

.aaa {
  padding: 0px 0 0px 0px;
  position: relative;
}


.bannerWrap .bannerContnt h1 {
  position: relative;
  font-size: 64px;
  line-height: 80px;
  color: #fff;
  padding-bottom: 35px;
}

.bannerWrap .bannerContnt h1 i {
  color: #F35047;
}

.bannerWrap .bannerContnt p {
  font-size: 22px;
  color: #A1A1A1;
  line-height: 1.8em;
  display: block;
  word-wrap: break-word;
}

.bannerActions {
  padding-top: 60px;
  display: flex;
  align-items: center;
}

.bannerActions a {
  float: left
}

.bannerActions .knowMore {
  font-size: 15px;
  text-transform: uppercase;
  color: #F2F5FF;
  background-color: #5AA6D8;
  border-radius: 24px;
  padding: 5px 30px;
  margin-right: 40px;
}

.watchNow {
  color: #FFFFFF;
  font-size: 15px;
  text-transform: uppercase;
}

.watchNow img {
  margin-left: 5px;
}


.circle-bg {
  position: absolute;
  top: -10%;
  left: 25%;

}

.section-one {
  padding: 0px 0 0 100px
}

.nav-pills {
  float: left;
  width: 30%;
  position: relative;
  top: -12px;
}

.nav-pills>div {
  margin-bottom: 60px;
  cursor: pointer;
}

#v-pills-profile-tab>img {
  margin-left: -12px;
}

.counterSection {

  background: url('../images/pattern-bg.png') no-repeat center center;
  background-size: 100%;
  background-attachment: fixed;

}

.counterSection .maps {
  float: left;
  width: 50%
}

.counterSection .countersContent {
  float: left;
  width: 50%;
}

.counter1 .counter {
  background-color: #5AA6D8;
  border-radius: 25px 0 25px 25px;
}

.counter2 .counter {
  background-color: #EBB328;
  border-radius: 25px 25px 0 25px;
}

.counter3 .counter {
  background-color: #F35047;
  border-radius: 0 25px 25px 25px;
  color: #fff !important
}

.counter4 .counter {
  background-color: #EF6A22;
  border-radius: 25px 25px 25px 0;
  color: #fff !important
}

.countersContent .counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 102px;
  text-align: center;
  line-height: 126px;
  color: #000;
  margin-bottom: 40px;
  border: 2px solid #fff;
  font-size: 55px;
  font-family: "Bebas Neue", Sans-serif;
  font-weight: 700;
}

.countersContent b {
  display: block;
  font-size: 35px;
  color: #fff;
  line-height: 40px;
  margin-bottom: 50px;
  font-weight: normal;
}

.mainCounterWrap {
  margin-left: 150px;
  float: left;
  width: 110px;
  text-align: center;
}

.mainCounterWrap.mg0 {
  margin-left: 0
}

.setone,
.settwo {
  display: flex;
  padding-left: 140px;
}

.maps p {
  font-size: 40px;
  color: #fff;
  margin-top: 35px;
  text-align: center;
}

.maps p i {
  color: #FFAE42
}



.aboutusSection {
  padding: 80px 0 80px 0px;
  position: relative;

}

.aboutContent {
  float: left;
  width: 50%;
  padding-top: 200px;
}

.aboutContent span {
  color: #A1A1A1;
  font-size: 19px;
  text-transform: uppercase;
  margin: 45px 0;
}

.aboutContent h3 {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  line-height: 58px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.aboutContent p {
  /* letter-spacing: -2px; */
  color: #64607D;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 55px;
}



.aboutContent a {
  color: #fff;
  border-radius: 25px;
  background: #5AA6D8;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.aboutImg {
  float: right;
  width: 50%;
  text-align: right;
}

.about-image {
  position: absolute
}

.about-one {
  left: -586px;
  top: 256px
}

.about-two {
  top: 460px;
  right: -10000px
}

.about-three {
  left: -592px;
  top: 570px;
}

.featuresWrap {
  display: flex;
  align-items: center;
  background: url("../images/feature-bg.png") no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.featureContent a {
  color: #fff;
  border-radius: 25px;
  background: #5AA6D8;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

}

.featureContent h3 {
  color: #ec5723;
  font-size: 56px;
  font-weight: bold;
  line-height: 80px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.featureContent p {

  color: #E6E6E6;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 100px;

}

.featureContent {
  float: right;
}



.communityWrap {
  padding: 50px 0 50px 0px;
  background: url('../images/pattern-bg.png') no-repeat center top;

  background-size: 100%;
  background-attachment: fixed;
  margin-top: 2%;
}

.communityWrap h4 {
  font-size: 51px;
  line-height: 80px;
  letter-spacing: -3px;
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
}

.communityWrap h4 i {
  color: #EC5723;
}

.communityContent {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.footerNav {
  width: 100%;
  display: flex;
}

.slides {
  float: left;
  margin-left: 50px
}

.slides span {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  float: left;
}

.slides ul {
  float: right;
}

.slides ul li {
  list-style: none;
  float: left;
  color: #000;
  background-color: #fff;
  padding: 3px 10px;
  margin-left: 5px;
  border-radius: 5px;
}

.slides.mg0 {
  margin-left: 0
}

.slides img {
  border-radius: 10px;
  margin-bottom: 15px;
}

.slides p {
  font-size: 25px;
  line-height: 30px;
  color: #fff;
}

.floating a {
  display: block;
}

.footer {
  position: relative;
  /* width: 1400px; */
  margin: 0 auto;
}

.upperfooter {
  display: flex;
  align-items: center;
}

.upperfooter .logo {
  float: left;
  width: 50%;
}

.upperfooter p {
  text-align: right;
  float: right;
  width: 50%;
  color: #fff;
  font-size: 22px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.upperfooter p a {
  background-color: #FDC822;
  color: #000;
  font-size: 13px;
  margin-left: 8px;
  border-radius: 50px;
  padding: 10px 33px;
}

.stroke {
  border-top: 1px solid #97979769;
  margin: 20px 0px 35px;
  height: 1px;
}

.footerLeftWrap {
  float: left;
  width: 60%
}

.footerRightWrap {
  float: right;
  width: 40%
}

.footerLeftWrap p {
  font-size: 22px;
  color: #fff;
  margin-bottom: 40px;
}

.demolinks {
  padding: 0;
  display: flex;
  align-items: center;
}

.demolinks li {
  float: left;
  list-style: none;
}

.freeDemolink a {
  font-weight: 400;
  text-transform: uppercase;
  background: #FDC822;
  color: #000;
  border-radius: 28px;
  padding: 10px 23px;
  margin-right: 40px;
}

.footerBottom {
  margin: 50px 0 15px;
}

.tnc {
  padding: 0;
  float: left;
}

.tnc li {
  float: left;
  margin-left: 20px;
  list-style: none;
}

.tnc li:first-child {
  margin: 0
}

.tnc li a {
  font-size: 15px;
  color: #fff
}

.links {
  /* float: right; */
  padding: 0;
  width: 60%
}

.socialMedialinks {
  float: right;
  width: 40%;
  padding: 0;
}

.socialMedialinks li,
.links li {
  list-style: none;
  margin-bottom: 20px
}

.socialMedialinks li a,
.links li a {
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.socialIcons {
  padding: 0;
  float: right;
}

.socialIcons li {
  list-style: none;
  float: left;
  margin-left: 25px;
}

.getstartedbtn {}


.popupContent.open {
  display: block;
}

.popup.open {
  /* display: flex; */
  visibility: visible;
  opacity: 1;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #80808058;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: 0.1s all ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}

.popup-wrapper {
  position: relative;
  max-width: 900px;
  width: 100%;
  min-height: 300px;
  max-height: 90vh;
  overflow: auto;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  display: flex;
  justify-content: end;
}

.popup-wrapper::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}


.closePopup {
  background: none;
  border: none;
  position: absolute;
  right: 59px;
  top: 20px;
}

.closePopup img {
  display: block;
  width: 43px;
}

.popupContent {
  display: none;
  padding: 80px 60px 50px 100px;
  background-color: white;
  width: 85%;
  border-radius: 300px 0px 0px 0px;
  overflow: auto;
}

.popupContent h2 {
  font-size: 40px;
  line-height: 67px;
  color: #3A3434;
  margin-bottom: 20px;
  float: left;
  display: flex;
  margin-top: 36px;
}

.popupContent h2 img {
  display: flex;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.popupContent a {
  text-transform: uppercase;
  display: inline-block;
  background: #5AA6D8;
  background-position: 50%;
  color: #fff;
  font-size: 16px;
  box-shadow: 0px 67px 80px rgba(55, 52, 169, 0.07), 0px 43.4259px 46.8519px rgba(233, 28, 76, 0.0531), 0px 25.8074px 25.4815px rgba(55, 52, 169, 0.0425185), 0px 13.4px 13px rgba(55, 52, 169, 0.035), 0px 5.45926px 6.51852px rgba(55, 52, 169, 0.0274815), 0px 1.24074px 3.14815px rgba(55, 52, 169, 0.0168519);
  border-radius: 50px;
  padding: 6px 30px;
  line-height: 30px;
  text-decoration: none;

}

.popupContent .content p {
  font-size: 20px;
  line-height: 40px;
  color: #3E3E3E;
  margin-bottom: 30px;
}

.popupContent .content ul {
  padding: 0
}

.popupContent .content ul li {
  list-style: none;
  float: left;
  margin-right: 30px;
  width: 238px;
}

.popupContent .content ul li img {
  width: 100%;
}




.popupHeader {
  display: flex;
  justify-content: space-between;
}

[ data-toggle="modal"] {
  cursor: pointer;
}

.contactUsContent {
  background: url('../images/contact-us-bg.png') no-repeat;
  background-size: 188%;
  background-position: center;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  width: 700px;
  margin-top: 18px;
}

.contactUsContent h3 {
  margin-top: 8px;
  color: #152329;
  text-transform: uppercase;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 30px;
  letter-spacing: 11%;
  margin-bottom: 36px;
  font-weight: 600;
}

.contactUsContent h3 em {
  color: #5AA6D8;
  font-style: normal;

}



.contactUsContent .close {
  opacity: 1;
  position: absolute;
  top: 17px;
  right: 25px;
}

.contactUsContent .close img {
  width: 50px;
  height: 50px;
}

#contactUs>div,
#enquireNow>div {
  width: 700px;
  height: auto;
  display: flex;
  justify-items: center;
  align-items: center;
}

.contactUsContent .inputField {
  border: 1px solid #000;
  height: 48px;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  z-index: 1;
  font-weight: 400;
}

.contactUsContent .form-group {
  margin-bottom: 12px;
  position: relative;
  z-index: 999;
}

.contactUsContent .form-group input {
  background-color: #fff;


}

.label-name {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.contactUsContent .form-group input {
  padding: 8px 16px;
}



.contactUsContent form button,
.contactUsContent form button:hover {
  background-color: #FDC822;
  border: none;
  width: 100%;
  display: block;
  font-size: 16px;
  /* text-transform: uppercase; */
  text-align: center;
  padding: 9px 0;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 500;
}

.contacticons {
  padding: 0;
  margin-bottom: 10px;
}

.contacticons li {
  float: left;
  list-style: none;
  /* width: 30%; */
  display: flex;
  align-items: start;
  justify-items: center;
}

.contact-us-send {
  text-transform: uppercase;
}

#aca {
  /* width: 38%; */
}

.ml-15 {
  margin-left: 15px;
}

.ml-28 {
  margin-left: 28px;
}

.contacticons li img {
  float: left;
  margin-right: 15px;
  width: 26px;
}

.contacticons li b {
  color: #11111D;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: block;
  font-weight: 400;
}

.contacticons li span {
  color: #5AA6D8;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  display: block;
}

.contactUsContent .form-check-inline {
  float: left;
  margin-right: 10px;
}

.contactUsContent .form-check-inline label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  /* font-family: 'Plus Jakarta Sans', sans-serif; */
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal {
  height: 95%;
  bottom: 0;
}

/* .mobile-menu {
  display: none;
} */

.mobile-menu-wrapper {
  display: none;
  /* position: relative; */
}

.about-us-mobile {
  display: none;
}

@keyframes circle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes inner-circle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#rotator {
  width: 600px;
  height: 600px;
  margin: 20px auto;
  font-size: 10px;
  line-height: 1;
  animation: circle 25s linear infinite;
  transform-origin: 50% 50%;

  margin-left: 5%;
}

#rotator>div {
  animation: inner-circle 25s linear infinite;
  width: 300px;
  height: 300px;
}

#rotator>div>img {
  width: 100%;
  /* Image width will fill the div */
  height: 100%;
  /* Image height will fill the div */
  object-fit: cover;
  margin: 0 0 0 0;
  /* Scales the image to cover the div while preserving aspect ratio */
  cursor: pointer;
}

.featureContent {
  flex: 1;
  align-items: center;
  /* Allow the content div to take up remaining space */
}

.tab-content {
  margin-top: 360px;
  /* Add the desired top margin */
  transform: translateX(150%);
  /* Position the div to the right */
}

.links-mobile {
  display: none;
}

.ready-start {
  display: none;
}

.communityWrap-mobile {
  display: none;
}

.loginBtn {
  margin-top: -10px;
}

.contact-us-form {
  background-image: none;
}

.links-tab {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.footer li.active a {
  color: #EC5723;
}

.footer .links li a {
  font-size: 22px;
}

.social-icons {
  width: 16px;
}

.social-icons-fb {
  width: 9px;
}

.getstartedbtn-m-show {
  display: none;
}

.bg-yellow-wrapper {
  position: relative;
}

.hp-layer__code {
  position: absolute;
  width: 70%;
  right: -166px;
  top: -110px;
}

a:focus,
a:hover {
  color: #fff;
}

.about-us-img-wrapper img {
  width: 100%;
}

.about-us-img-wrapper a {
  color: #fff;
  border-radius: 25px;
  background: #5AA6D8;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin: 30px auto 0;
  display: block;
  width: fit-content;
}

.about-us-tab-img-wrapper {
  display: none;
}

.loginBtn-tab {
  display: none;
}


@media ((min-width: 750px) and (max-width: 1128px)) {
  .hp-layer__code {
    width: 54%;
    right: -40px;
    top: 0px;
  }

  .header .logo img {
    width: 136px;
  }

  .header {
    padding-top: 30px;
  }

  .menuToggle {
    display: none;
  }

  .mobile-menu-wrapper {
    display: block;
  }

  .mobile-menu {
    position: absolute;
    z-index: 99;
    top: 90px;
    left: -16px;
    display: none;
    flex-direction: column;
    padding: 0 24px;
    /* background-color: red; */
    background-color: #11111D;
    width: 100vw;
  }

  .mobile-link {
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
  }

  .loginBtn-tab {
    padding: 12px 0 26px;
    margin-top: 0;
    display: inline-block;
    margin-right: 30px;
  }

  .loginBtn-tab a {
    color: #fff;
    font-size: 14px;
    padding: 8px 32px;
    text-decoration: none;
    background-color: #EC5723;
    border-radius: 21px;
    text-transform: uppercase;
  }

  .login-tab-hide {
    display: none;
  }

  .bannerWrap .bannerContnt h1 {
    font-size: 40px;
    line-height: 44px;
  }

  .bannerWrap .bannerContnt p {
    font-size: 12px;
    line-height: 16px;
  }

  .phone-img {
    max-width: 172px;
    max-height: 358px;
  }

  .bannerContnt {
    height: 358px;
  }

  .card1 {
    top: 44px;
    left: -23px;
  }

  .card2 {
    top: 125px;
  }

  .card3 {
    top: 226px;
    left: -23px;
  }

  .img-wrapper-animate-bottom>.card1b {
    width: 157px;
    left: -10px;
  }

  .img-wrapper-animate-bottom>.card3b {
    left: 0;
  }

  .cards {
    width: 150px;
  }

  .img-wrapper-animate-bottom>.tab-card-active {
    width: 154px;
  }

  .img-wrapper-animate-bottom>.tab-card-active.w-fix {
    width: 160px;
  }

  .img-wrapper-animate-bottom {
    top: 460px;
    height: 360px;
    width: 48%;
  }

  .tab-slide {
    height: 380px;
  }

  .tab-slide>div {
    max-width: 48%;
  }

  .tab-slide .content h4 {
    font-size: 16px;
    min-height: 35px;
  }

  .tab-slide .content h2 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 27px;
  }

  .tab-slide .content p {
    font-size: 16px;
  }

  .tab-slide .content a {
    font-size: 10px;
    padding: 8px 16px;
  }

  .bbb {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .counterSection .maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .map-img {
    width: 544px;
  }

  .maps p {
    font-size: 34px;
    margin-bottom: 45px;
  }

  .counterSection .countersContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
  }

  .setone {
    margin-right: 32px;
  }

  .setone, .settwo {
    padding-left: 0;
    align-items: center;
    justify-content: space-between;
    width: 208px;
  }

  .mainCounterWrap {
    width: 88px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .countersContent .counter {
    width: 88px;
    height: 88px;
    font-size: 52px;
    line-height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .counter1 .counter {
    border-radius: 16px 0 16px 16px;
  }

  .counter2 .counter {
    border-radius: 16px 16px 0 16px;
  }

  .counter3 .counter {
    border-radius: 0 16px 16px 16px;
  }

  .counter4 .counter {
    border-radius: 16px 16px 16px 0;
  }

  .aboutusSection {
    padding: 40px 0 40px;
  }

  .aboutContent {
    padding-top: 0;
  }
 

  .countersContent b {
    font-size: 22px;
    line-height: 44px;
  }

  .aaa {
    display: flex;
    align-items: center;
  }

  .aboutContent span {
    font-size: 11px;

  }

  .aboutContent h3 {
    font-size: 22px;
    line-height: 32px;
  }

  .aboutContent p {
    font-size: 12px;
    line-height: 17px;
  }

  .aboutContent a {
    font-size: 11px;
    padding: 10px 35px;
  }

  .about-us {
    width: 215px;
  }

  .about-one {
    width: 180px;
    top: 80px;
  }

  .about-two {
    width: 124px;
    top: 148px;
  }

  .about-three {
    width: 180px;
    top: 186px;
  }

  .aboutImg {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
  }

  .hhh {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .featureImages {
    min-width: 405px;
    margin-left: 0;
  }

  .featureContent {
    padding-top: 0;
    flex: none;
  }

  .featureContent h3 {
    font-size: 25px;
    line-height: 38px;
    margin-bottom: 11px;
  }

  .featureContent p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 50px;
  }

  .featureContent a {
    font-size: 10px;
    padding: 8px 22px;
  }

  #rotator {
    width: 310px;
    height: 300px;
    margin: 0;
  }

  #rotator>div {
    width: 137px;
    height: 137px;
  }

  .communityWrap h4 {
    font-size: 45px;
    margin-bottom: 20px;
  }

  .about-us-tab-img-wrapper {
    display: block;
  }

  .about-us-tab-img-wrapper a {
    font-size: 11px;
    padding: 10px 40px;
    color: #fff;
    border-radius: 25px;
    background: #5AA6D8;
    padding: 15px 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin: 30px auto 0;
    display: block;
    width: fit-content;
  }

  .tab-img {
    text-align: center;
  }

  .about-us-tab-img-hide {
    display: none;
  }

  .footer-logo {
    width: 88px;
  }

  .upperfooter p {
    font-size: 12px;
  }

  .upperfooter p a {
    font-size: 10px;
    padding: 8px 16px;
  }

  .footerLeftWrap p {
    font-size: 15px;
  }

  .freeDemolink a {
    font-size: 11px;
  }

  .footer .links li a {
    font-size: 12px;
  }

  .socialMedialinks li a, .links li a {
    font-size: 12px;
  }

  .app-download-img {
    width: 102px;
  }

  .tnc li a {
    font-size: 12px;
  }

  .social-icons {
    width: 14px;
  }

  .social-icons-fb {
    width: 7px;
  }

  .modal-dialog {
    margin: 30px auto;
  }

}








@media (max-width: 750px) {

  .hp-layer__code {
    width: 360px;
    top: 375px;
    right: 50%;
    transform: translateX(50%);
  }

  .header .logo img {
    width: 108px;
  }

  .header {
    padding-top: 26px;
  }

  .menuToggle {
    display: none;
  }

  .mobile-menu-wrapper {
    display: block;
  }

  .mobile-menu {
    position: absolute;
    z-index: 99;
    top: 90px;
    left: -16px;
    display: none;
    flex-direction: column;
    padding: 0 24px;
    /* background-color: red; */
    background-color: #11111D;
    width: 100vw;
  }

  .mobile-link {
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
  }

  .loginBtn {
    padding: 12px 0 26px;
    margin-top: 0;
  }

  .loginBtn a {
    color: #fff;
    font-size: 14px;
    padding: 8px 32px;
    text-decoration: none;
    background-color: #EC5723;
    border-radius: 21px;
    text-transform: uppercase;
  }

  .bannerWrap {
    margin-top: 20px;
    margin-bottom: 70px;
  }

  .top-fold-wrapper {
    flex-direction: column;
    align-items: start;
    margin-bottom: 412px;
  }

  .bannerContnt {
    width: 328px;
    margin: 0 auto;
    justify-content: start;
    height: 416px;
  }

  .bannerWrap .bannerContnt h1 {
    font-size: 45px;
    line-height: 56px;
    padding-bottom: 10px;
  }

  .bannerWrap .bannerContnt p {
    font-size: 16px;
    line-height: 20px;
    min-height: 60px;
  }

  .bannerActions {
    padding-top: 34px;
  }

  .phone-img {
    max-width: 124px;
    max-height: 300px;
  }

  .cards {
    width: 103px;
  }

  .img-wrapper-animate-top {
    width: 328px;
    height: 300px;
    top: 420px;
    right: 50%;
    transform: translateX(50%);
  }

  .card1 {
    top: 20px;
    left: 20px;
  }

  .card2 {
    top: 70px;
    left: 284px;
  }

  .card3 {
    top: 165px;
    left: 20px;
  }

  .tab-slide {
    height: 250px;
    width: 328px;
    margin: 0 auto;
  }

  .tab-slide>div {
    max-width: 190px;
  }

  .tab-slide>.content {
    padding: 0;
    min-height: 256px;
    width: fit-content;
  }

  .tab-slide .content h4 {
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 4px;
    margin-top: 0;
  }

  .tab-slide .content h2 {
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 30px;
  }

  .tab-slide .content p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 26px;
  }

  .tab-slide .content a {
    font-size: 10px;
    line-height: 13px;
    padding: 6px 13px;
  }

  .img-wrapper-animate-bottom {
    width: 328px;
    height: 300px;
    top: 694px;
    right: 50%;
    transform: translateX(50%);
  }

  .img-wrapper-animate-bottom>.phone-imgb {
    top: 130px;
    right: 100%;
    transform: rotate(0deg) translateX(100%);
  }

  .img-wrapper-animate-bottom>.card1b {
    top: -1px;
    left: 160px;
    z-index: 2;
    transform: translateX(-50%);
    cursor: pointer;
    width: 103px;
  }

  .img-wrapper-animate-bottom>.card2b {
    /* top: 0;
    left: 0;
    z-index: 3;
    cursor: pointer; */
  }

  .img-wrapper-animate-bottom>.card3b {
    top: -1px;
    left: 100%;
    z-index: 4;
    transform: translateX(-100%);
    cursor: pointer;
  }

  .img-wrapper-animate-bottom>.tab-card-active.w-fix {
    width: 105px;
  }

  .bbb {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .counterSection .maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .counterSection .countersContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 328px;
  }

  .map-img {
    width: 328px;
  }

  .maps p {
    font-size: 23px;
    line-height: 30px;
    margin-top: 16px;
    margin-bottom: 30px;
  }

  .setone,
  .settwo {
    padding-left: 0;
    align-items: center;
    justify-content: space-between;
    width: 148px;
  }

  .setone {
    margin-right: 30px;
  }

  .countersContent .counter {
    width: 60px;
    height: 60px;
    font-size: 34px;
    line-height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px
  }

  .mainCounterWrap {
    width: 59px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .countersContent b {
    font-size: 15px;
    line-height: 29px;
  }

  .counter1 .counter {
    border-radius: 10px 0 10px 10px;
  }

  .counter2 .counter {
    border-radius: 10px 10px 0 10px;
  }

  .counter3 .counter {
    border-radius: 0 10px 10px 10px;
  }

  .counter4 .counter {
    border-radius: 10px 10px 10px 0;
  }

  .aaa {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .aboutContent {
    width: 328px;
    padding-top: 0;
  }

  .aboutImg {
    width: 328px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
  }

  .about-us {
    display: none;
  }

  .about-us-mobile {
    width: 328px;
    display: block;
  }

  .aboutContent span {
    font-size: 12px;
    line-height: 16px;
  }

  .aboutContent h3 {
    font-size: 34px;
    line-height: 45px;
    margin-top: 35px;
  }

  .aboutContent p {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 48px;
    color: #A1A1A1;
  }

  .about-one {
    left: -100px;
    top: 115px;
    width: 190px;
  }

  .about-two {
    top: 145px;
    right: -100px;
    width: 134px;
  }

  .about-three {
    left: -100px;
    top: 281px;
    width: 190px;
  }

  .hhh {
    display: flex;
    flex-direction: column-reverse;
    width: 328px;
    margin: 0 auto;
    background: url("../images/lines-bg.png") no-repeat;
    background-position: top;
    background-size: 328px 482px;
  }

  .featureContent {
    padding-top: 0;
  }

  .featureContent h3 {
    font-size: 34px;
    line-height: 49px;
    margin-top: 17px;
    margin-bottom: 50px;
  }

  .featureContent p {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 52px;
  }

  .featureContent a {
    font-size: 11px;
    line-height: 19px;
    padding: 10px 26px;
  }

  .featureImages {
    min-width: auto;
    margin: 100px auto 0;
  }

  #rotator {
    width: 310px;
    height: 300px;
    margin: 0 0;
    /* background: url("../images/ellipse.png") no-repeat; */
    background-position: top;
    background-size: contain;

  }

  #rotator>div {
    width: 137px;
    height: 137px;
  }

  .upperfooter {
    justify-content: center;
  }

  .upperfooter p {
    display: none;
  }

  .stroke {
    border: 1px solid transparent;
    margin: 40px 0;
  }

  .footerLeftWrap {
    display: none;
  }

  .footerRightWrap {
    width: 100%;
  }

  .links-tab {
    display: none;
  }

  .links-mobile {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 328px;
    margin: 0 auto;
  }

  .socialMedialinks li a {
    font-size: 16px;
  }

  .tnc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
  }

  .tnc li {
    float: none;
  }


  .tnc li a {
    font-size: 14px;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 328px;
  }

  .socialIcons li {
    margin-left: 0;
  }

  .ready-start {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 328px;
    padding-bottom: 50px;
    margin: 0 auto;
  }

  .ready-start p {
    font-size: 17px;
    line-height: 22px;
    color: #fff;
    margin: 0 16px 0 0;
  }

  .ready-start a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    /* line-height: 17px; */
    color: #000000;
    background-color: #FDC822;
    border-radius: 6px;
    padding: 11px 26px;
  }

  /* .communityWrap-desktop {
    display: none;
  } */

  .communityWrap-mobile {
    display: block;
  }

  .communityWrap h4 {
    font-size: 34px;
    line-height: 80px;
  }

  .slides img {
    width: 328px;
    margin-bottom: 10px;
  }

  .slides span {
    font-size: 14px;
    /* margin-right: 90px; */
  }

  .slides {
    float: none;
    margin-left: 0;
  }

  .slides p {
    font-size: 20px;
    line-height: 24px;
  }

  .slick-next.slick-arrow,
  .slick-prev.slick-arrow {
    display: none !important;
  }

  .slides ul {
    float: none;
    margin: 0;
  }

  .slide-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .slick-dots {
    color: #D9D9D9;
    display: flex;
    justify-content: center;
    /* gap: 12px; */
    font-size: 18px;
    margin-right: -12px;
  }

  .slick-dots li {
    margin-right: 12px;
  }

  .slick-dots .slick-active {
    color: #0C8CCD;
  }

  .slick-dots li button {
    display: none;
  }

  .communityContent {
    display: block;
    width: 328px;
    margin: 0 auto;
  }

  .footerBottom {
    width: 328px;
    margin: 50px auto 16px;
  }

  .img-wrapper-animate-bottom>.tab-card-active {
    -webkit-filter: drop-shadow(0 0 15px #ffffff);
    filter: drop-shadow(0 0 10px #ffffff);
    width: 105px;
  }

  .popup {
    justify-content: center;
    padding: 16px;
  }

  .popup-wrapper {
    height: 82vh;
    max-width: 470px;
  }

  .popupContent {
    padding: 24px;
    border-radius: 0;
    width: 100%;
  }

  .getstartedbtn-m {
    display: none;
  }

  .popupContent h2 {
    font-size: 32px;
    line-height: 67px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 0;
  }

  .popupContent h2 img {
    margin-right: 0;
    width: 48px;
  }

  .popupContent .content p {
    font-size: 18px;
    line-height: 39px;
  }

  .links,
  .socialMedialinks {
    width: 50%;
  }

  .footer .links li a {
    font-size: 16px;
  }

  .getstartedbtn-m-show {
    display: block;
  }

  .getstartedbtn {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 56px;
  }

  .popupContent a {
    font-size: 16px;
    line-height: 30px;
    padding: 15px 50px;
  }

  .popupContent .content ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .popupContent .content ul li {
    margin-right: 0;
    margin-bottom: 30px;
    width: 280px;
  }

  #contactUs>div,
  #enquireNow>div {
    width: 328px;
  }

  .contactUsContent {
    width: 328px;
  }

  .modal-dialog {
    margin: 0 auto;
  }

  .contactUsContent .close img {
    width: 35px;
    height: 35px;
  }

  .contactUsContent .close {
    right: 16px;
  }

  .contactUsContent .form-check-inline label {
    font-size: 12px;
  }

  .hidden-m {
    display: none;
  }

  .ml-28,
  .ml-15 {
    margin-left: 0;
    margin-top: 35px;
  }

  .contactUsContent h3 {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .contactUsContent h3.contact-us-heading {
    margin-bottom: 26px;
  }

  .mobile-link.active {
    color: #FECD08;
  }

  .closePopup img {
    width: 38px;
  }

  .closePopup {
    right: 26px;
  }

  .contacticons li img {
    margin-right: 44px;
    width: 35px;
  }

  .contacticons li {
    align-items: center;
  }

  .featuresWrap {
    background-image: none;
  }

  .about-us-img-wrapper a {
    font-size: 11px;
    padding: 10px 40px;
  }

  .upperfooter .logo {
    width: auto;
  }

}